<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Product Details</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  <!-- fontawesome-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/69275d553b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="/product_desc.css" rel="stylesheet" type= "text/css">
</head>
  <body>

    <header>
      <img src="/REGO.png" alt="logo" class="logo">
      <nav>
        <ul class="nav_links">
          <li><a href="">Home</a></li>
          <li><a href="">Shoes</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </nav>
      <div class="btn-header">
        <a href="" class="search"><i class="fas fa-search"></i></a>
        <a href="" class="cta"><button class="profile">Profile</button></a>
        <a href=""><button class="cart"><i class="fas fa-shopping-cart" ></i></button></a>
      </div>
  </header>
    {{!-- {{#if courier}}
        {{#each courier}}
        {{name}}
        {{/each}}
    {{/if}} --}}
    {{!-- {{user.id}} --}}
    {{#each dbres}}
    <div class="small-container single-product">
      <div class="row">
        <div class="col-2">
          <img src="{{imglink}}" width="100%" id="ProductImg">
        
        </div>
        <div class="col-2">
          <p>Home / Shoes</p>
          <h1>{{productname}}</h1>
          <h4>Rp. {{price}}</h4>
          <select>
            <option>Select Size</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
          </select>
          
          <form action="/auth/addtoCart" method="POST">
          <input type="number" name='qty' value="1">
          <input type="text" name="id" value="{{productid}}">
          
          
          
          <button type="submit" class="btn btn-primary">Add to Cart</button>
          
          <h3>Product Details <i class="fa fa-indent"></i></h3>
          <p>{{description}}</p>
          <h4>Remaining Stocks: <i class="fa fa-indent"></i></h4>
          <p>{{stock}}</p>
        </div>
      </div>
    </div>
    {{/each}}
          <input type="hidden" name='user' value="{{user.id}}">
          <input type="hidden" name='userprovince' value="{{user.province}}">
          {{!-- <select name="courier" id="">
            <option value="None">Select Courier</option>
            {{#each courier}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select> --}}
          </form>
  </body>
</html>
